.idea
.vscode
cmake-build-*
*/.DS_Store
bin/*
navicat-patcher/Elf64Crafter.hpp
navicat-patcher/Elf64Crafter.cpp
navicat-patcher/Elf64InterpreterAmd64.hpp
navicat-patcher/Elf64InterpreterAmd64.cpp
RegPrivateKey.pem
build
*.AppImage
